<div class="push"></div>
<div class="footer">
  <p>Website created by Bennett Adams. Visit my <a href="https://github.com/bennettatoms">GitHub</a> and <a href="https://www.linkedin.com/pub/bennett-adams/8/181/3b9">LinkedIn</a> profiles. Copyright (c) 2015</p>
</div>